{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} 关于我们 {% endblock %}



{% block content %}

<article class="container my-3">
      <div class="card-body">
        <!-- comments -->
        <legend class="border-bottom mb-4"><h1>关于我们</h1> </legend>


        <div class="comments" style="padding: 10px;">

          <h3> 联系我们： </h3>
          <br/>
          <h4> QQ: 123456</h4>
          <h4> Email: 123456@email.com</h4>
          <h4> 地址: xxx</h4>
        </div>
      </div>
  </article>




{% endblock %}
